version: "3.8"

networks:
  app-network:
    driver: bridge

volumes:
  redis_data:

services:
  redis:
    image: redis:7-alpine
    container_name: redis
    networks:
      - app-network
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 5s
      retries: 5

  app:
    image: juanfranciscofernandez/app:latest
    container_name: app
    networks:
      - app-network
    restart: unless-stopped
    depends_on:
      redis:
        condition: service_healthy

    ports:
      - "8087:8080"

    environment:
      SPRING_PROFILES_ACTIVE: h2
      SPRING_REDIS_HOST: redis
      SPRING_REDIS_PORT: 6379
