name: Maven Build & Docker Build

on:
  push:
    branches: [ "master", "develop" ]
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17
          cache: maven

      - name: Build with Maven
        run: mvn clean install

      - name: Build Docker image
        if: github.ref == 'refs/heads/master'
        run: docker build -t my-app:latest .
